@font-face {
    font-family: "NimbusSansNo5TOT-Regular";
    src: url("/assets/fonts/NimbusSansNo5TOT-Regular.eot");
    src: url("/assets/fonts/NimbusSansNo5TOT-Regular.eot?#iefix") format("embedded-opentype"),
         url("/assets/fonts/NimbusSansNo5TOT-Regular.woff2") format("woff2"),
         url("/assets/fonts/NimbusSansNo5TOT-Regular.woff") format("woff"),
         url("/assets/fonts/NimbusSansNo5TOT-Regular.ttf") format("ttf"),
         url("/assets/fonts/NimbusSansNo5TOT-Regular.svg#NimbusSansNo5TOT-Regular") format("svg");
    font-style: normal;
    font-weight: regular;
}
