/* Typography */
$line-height     : 26px;
$serif-stack     : 'Times-Roman', times, georgia, serif;
$sans-serif-stack: 'NimbusSansNo5TOT-Medium', helvetica, arial, sans-serif;
$font-size       : 16px;
$line-height     : 21px;
$font-size-mob-s : 12px;
$line-height-mob-s: 14px;
$font-size-mob   : 17px;
$line-height-mob : 24px;
$logo-size       : 36px;
$logo-size-mob   : 38px;
$logo-line-height: $line-height;
/* Color */
$background-color: #fff;
$green           : #00d400;
$black           : #000;
$grey            : #a7a9ac;
$white           : #fff;
/* Space */
$border-width    : 1px;
$margin-sides    : 20px;
$scroll-bar      : 16px;
/* Breakpoints */
$breakpoints     : ( 'small': (max-width: 639px), 'medium': (max-width: 1000px), 'large': (max-width: 1600px), 'short': (max-height: 700px), );

strong {
  color: $green;
}

a {
  color: $green;
  text-decoration: none;
  &:active {
    color: $green;
  }
  &:visited {
    color: $green;
  }
  &:hover {
    color: $black;
  }
}
